.wcis8-container {
    overflow: hidden;
    width: 100%;
}

.view-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#view-box {
    transition: 1.5s ease-in-out;
}
