.cls-1 {
    fill: #cedbef;
}

.cls-2 {
    fill: #0863A8;
}

.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8 {
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 0.25px;

    &:hover {

    }
}

/*.cls-3 {
    fill: url(#gradientRightBottom);
}*/

.cls-4 {
    fill: #93C12F;
}

/*.cls-5 {
    fill: url(#gradientLeftTop);
}*/

/*.cls-6 {
    fill: url(#gradientLeftBottom);
}*/

/*.cls-7 {
    fill: url(#gradientRightTop);
}*/

.cls-8 {
    fill: #4ABFD8
}

.cls-9 {
    fill: #231f20;
    opacity: 0.4;
}
