.cls-1 {
    fill: #cedbef;
}

.cls-2 {
    fill: #549bd4;
}

.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8 {
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 0.25px;

    &:hover {

    }
}

.cls-3 {
    fill: #9babb2;
}

.cls-4 {
    fill: #f1813b;
}

.cls-5 {
    fill: #3e73b7;
}

.cls-6 {
    fill: #fabd22;
}

.cls-7 {
    fill: #49853c;
}

.cls-8 {
    fill: #c7d1d4;
}

.cls-9 {
    fill: #231f20;
    opacity: 0.4;
}
