.detail-container {
    position: absolute;
    inset: 0;
    display: none;
    justify-content: center;

    background-color: white;

    border-width: 1.2rem;
    border-style: solid;
    border-color: blue;

    &.visible {
        display: flex;
        animation-name: blendIn;
        animation-duration: 1.5s;
    }

    .detail-container-inner {
        color: #000;
        overflow-y: scroll;
        width: 100%;
        padding: 1rem 2rem;

        padding-top: 2rem;

        a {
            display: inline-block;
            padding: 0.8rem 2.2rem;

            color: black;
            font-size: 1.5rem;
            text-decoration: none;
            font-family: sans-serif;

            border: 1px solid #000;
            cursor: pointer;

            margin-bottom: 4rem;
        }
    }

    & > .overview {
        position:absolute;
        right: 0;
        bottom: 0;
        padding: .2rem 1rem;

        a {
            display: inline-block;
            padding: 0.2rem 0.4rem;

            color: black;
            font-size: 1.2rem;
            text-decoration: none;
            font-family: sans-serif;
            font-weight: bolder;

            margin-bottom: -0.8rem;
            cursor: pointer;
        }
    }
}

@keyframes blendIn {
    from {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


