.detail-container {
    position: absolute;
    inset: 0;
    display: none;
    justify-content: center;

    background: linear-gradient(to right, #93c12f, #4abfd8);

    &.visible {
        display: flex;
        animation-name: blendIn;
        animation-duration: 1.5s;
    }

    .tabs-container {
        position: absolute;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        padding: 1rem 1rem 0 0;
        background: none;
    }

    .tabs {
        li::before {
            content: '' !important;
        }

        li {
            display: inline;
            padding-right: 2rem;
            border-right: 2px solid white;
            color: white;
            font-size: larger;
        }

        li:last-child {
            border-right: none;
        }

        li:hover {
            cursor: pointer;
            font-weight: bolder;
        }
    }

    .whitespace {
        flex: 1;
        background: white;
        height: 3rem;
    }

    .detail-container-inner {
        color: #000;
        overflow-y: scroll;
        width: 100%;
        margin: 1rem;
        margin-top: 4rem;
        padding: 2rem;
        background: white;
        
        a {
            display: inline-block;
            padding: 0.8rem 2.2rem;

            color: black;
            font-size: 1.5rem;
            text-decoration: none;
            font-family: sans-serif;

            border: 1px solid #000;
            cursor: pointer;

            margin-bottom: 4rem;
        }
        img {
            &.full {
                width: 100%;
            }
        }
    }

    & > .overview {
        position:absolute;
        right: 2.3rem;
        bottom: 0.5rem;
        padding: .2rem 1rem;

        a {
            display: inline-block;
            padding: 0.2rem 0.4rem;

            color: black;
            font-size: 1.2rem;
            text-decoration: none;
            font-family: sans-serif;
            font-weight: bolder;

            margin-bottom: -0.8rem;
            cursor: pointer;
        }
    }
}

@keyframes blendIn {
    from {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


