path[id^="section-"]:hover, .section_title:hover, image:hover {
    cursor: pointer;
}

.cls-1 {
    fill: #cedbef;
}

.cls-2 {
    fill: #0863A8;
}

.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8 {
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 0.25px;
}

/*.cls-3 {
    fill: url(#gradientRightBottom);
}*/

.cls-4 {
    fill: #93C12F;
}

/*.cls-5 {
    fill: url(#gradientLeftTop);
}*/

/*.cls-6 {
    fill: url(#gradientLeftBottom);
}*/

/*.cls-7 {
    fill: url(#gradientRightTop);
}*/

.cls-8 {
    fill: #4ABFD8
}


/*
x-offset: -90
y-offset: 95

 */

@keyframes shake {
    0% { transform: translate(-90px, -95px) rotate(0deg); }
    10% { transform: translate(-91px, -93px) rotate(-1deg); }
    20% { transform: translate(-93px, -95px) rotate(1deg); }
    30% { transform: translate(-87px, -97px) rotate(0deg); }
    40% { transform: translate(-89px, -94px) rotate(1deg); }
    50% { transform: translate(-91px, -97px) rotate(-1deg); }
    60% { transform: translate(-93px, -96px) rotate(0deg); }
    70% { transform: translate(-93px, -96px) rotate(-1deg); }
    80% { transform: translate(-91px, -94px) rotate(1deg); }
    90% { transform: translate(-91px, -97px) rotate(0deg); }
    100% { transform: translate(-91px, -93px) rotate(-1deg); }
}
