@media ( max-width: 500px ) {
    .wcis8 {
        transform: rotate(90deg);
        margin: 70px;
    }
}

@keyframes hideshow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

path[id='section-']{
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 0.25px;
    animation: hideshow 2s;
}

#background {
    fill: #cedbef;
    animation: hideshow 7s;
}

#section-center {
    fill: #c7d1d4;
}

.gray-rings {
    fill: #231f20;
    opacity: 0.4;
}
