.detail-container {
    position: absolute;
    inset: 0;
    display: none;
    justify-content: center;
    overflow-y: scroll;
}

.detail-container.visible {
    display: flex;
    animation-name: blendIn;
    animation-duration: 1.5s;
}

.detail-container-inner {
    max-width: 80%;
    color: #fff;

    padding-top: 2rem;
}

@keyframes blendIn {
    from {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a {
    display: inline-block;
    padding: 0.8rem 2.2rem;

    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: sans-serif;

    border: 1px solid #fff;
    cursor: pointer;

    margin-bottom: 4rem;
}
