.detail-container {
    position: absolute;
    inset: 0;
    display: none;
    justify-content: center;

    &.visible {
        display: flex;
        animation-name: blendIn;
        animation-duration: 1.5s;
    }

    .detail-container-inner {
        color: #fff;
        overflow-y: scroll;

        padding-top: 2rem;

        a {
            display: inline-block;
            padding: 0.8rem 2.2rem;

            color: white;
            font-size: 1.5rem;
            text-decoration: none;
            font-family: sans-serif;

            border: 1px solid #fff;
            cursor: pointer;

            margin-bottom: 4rem;
        }
    }

    & > .overview {
        position:absolute;
        left: 0;
        bottom: 0;
        padding: .2rem 1rem;
    }
}

@keyframes blendIn {
    from {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


